server:
  port: 8083  # Event:8081, Payment:8082, Notification:8083

spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: kadirkar2204@gmail.com
    password: mtit dmaa jyit gvow
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    template:
      observation-enabled: true
    listener:
        observation-enabled: true


kafka:
  topics:
    reservation-initiation: reservation-initiation-topic
    payment-success: payment-success-topic
    payment-failure: payment-failure-topic


eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: "w3c,b3"
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus


logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"