server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        # 1. Event Service
        - id: event-service
          uri: lb://EVENT-SERVICE
          predicates:
            - Path=/api/events/**    # Dışarıdan "/api/events" diye gelir
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment} # İçeriye "/api" kısmını SİLEREK gönder

        # 2. Payment Service
        - id: payment-service
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/payments/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

        # 3. Notification Service
        - id: notification-service
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/api/notifications/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/