apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-server
spec:
  selector:
    matchLabels:
      app: discovery-server
  template:
    metadata:
      labels:
        app: discovery-server
    spec:
      containers:
        - name: discovery-server
          image: kadirkara22/ticket-discovery-server:v1 # <--- DOCKER HUB IMAJIN
          imagePullPolicy: Always # Her zaman en güncelini çek
          ports:
            - containerPort: 8761
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "default"
---
apiVersion: v1
kind: Service
metadata:
  name: discovery-server # Diğer servisler bu ismi kullanacak!
spec:
  selector:
    app: discovery-server
  ports:
    - port: 8761
      targetPort: 8761