# -------------------
# 1. PROMETHEUS CONFIG (Ayar Dosyası)
# -------------------
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 45s
      scrape_timeout: 30s
      evaluation_interval: 45s

    scrape_configs:
      - job_name: 'kubernetes-services'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['api-gateway:9090']
            labels:
              application: 'api-gateway'
          - targets: ['event-service:8081']
            labels:
              application: 'event-service'
          - targets: ['payment-service:8082']
            labels:
              application: 'payment-service'
          - targets: ['notification-service:8083']
            labels:
              application: 'notification-service'
          - targets: ['user-service:8084']
            labels:
              application: 'user-service'

---
# -------------------
# 2. PROMETHEUS DEPLOYMENT
# -------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
      volumes:
        - name: config-volume
          configMap:
            name: prometheus-config

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090

---
# -------------------
# 3. GRAFANA DEPLOYMENT
# -------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana
          ports:
            - containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: "admin" # Şifre: admin
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000